@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: #ff6f00;
  --color-primary-light: #f7931e;
  --color-secondary: #27ae60;
  --color-secondary-light: #4caf50;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
